@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-app-region: drag;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

input {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
  cursor: default;
  outline: none;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.backdrop-fade-in {
  animation: fadein 0.1s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backdrop-fade-out {
  animation: fadeout 0.1s ease-out;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.tablist {
  overflow-x: overlay;
}

.tablist::-webkit-scrollbar {
  background-color: transparent;
  height: 3px;
}

.tablist::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.tablist:hover::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

.tablist-left-shadow {
  box-shadow: inset 8px 0 5px -5px #AAAAAA;
}

.tablist-right-shadow {
  box-shadow: inset -8px 0 5px -5px #AAAAAA;
}

.tablist-left-right-shadow {
  box-shadow: inset 8px 0 5px -5px #AAAAAA,
              inset -8px 0 5px -5px #AAAAAA;
}

